// Specific CSS for homepage.

.home-bg{
    color: pink;
}


.landing-image {
    height: 100%;
    background: linear-gradient(
        $brand-background 10%,
        transparent 50%,
        transparent 65%,
        $brand-background 98%,
        ),
        url("../assets/images/Chatgpt-Wizard-Landing/Wizard-Landing-03.webp");
    background-size: cover; /* Ensure the image covers the whole area */
    background-repeat: no-repeat;
    background-position: 35%;
}

.cover-image {
    height: 100%;
    background: linear-gradient(
        $brand-background 0%,
        transparent 40%,
        transparent 60%,
        $brand-background 95%,
        ),
        url("../assets/images/Chatgpt-Wizard-Landing/Wizard-Landing-04.webp");
    background-size: cover; /* Ensure the image covers the whole area */
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    h1, h2, h3{
        color: $brand-light;
        text-shadow: 1px 1px 15px black;
    }
    .welcome-text{
        .small{
            font-size: 2rem;
        }

        h1, h2{
            font-size: calc(2rem + 4vw);
            font-weight: bold;
        }
    }
}

.taskwizard-font{
    text-transform: uppercase;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}


.full-width {
    width: 100vw; /* Full viewport width */
    margin-left: calc(-50vw + 50%); /* Center the element on the page */
    position: relative; /* Maintain the position relative to the normal document flow */
    overflow-x: hidden;
}
