// External libraries
@import "bootstrap";
// @import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Your CSS partials
@import "components/index";
@import "pages/index";


a{
    text-decoration: none;
}

// Base syling

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-content{
    height: 100%;
    overflow: auto;
    color: red;
}