// External libraries
@import "bootstrap";
// @import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "config/spacing";

// Your CSS partials
@import "components/index";
@import "pages/index";


a{
    text-decoration: none;
}


html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-content{
    height: 100%;
    overflow: scroll;
    margin-bottom: 50px;
  }

#root{
  position: relative;
}

#root::before{
  content: ""; /* Ensure the pseudo-element is rendered */
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/vibrant-magic-bg-01.webp");
  background-size: cover; /* Ensure the image covers the whole area */
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  z-index: -1; /* Ensure the pseudo-element is behind other content */
}


// debugging

.red-border{
  border: red 3px dashed;
}

.glass-container{

}
