// Define variables for your color scheme

// Colors palette: https://coolors.co/43cfeb-0f1d26-22303e-ecf7f9-52a0d4

$brand-light: #ECF7F9;
$brand-background: #070B1C;
$brand-backplate: #090A25;
$brand-med: #101137;
$brand-purple: #6C4EFF;
$brand-highlight: #4258EC;


.text-brand-blue{
    color: $brand-purple
}

.bg-brand-blue{
    background-color: $brand-highlight;
}

.text-brand-purple{
    color: $brand-purple
}

