// Define variables for your color scheme

// Colors palette: https://coolors.co/43cfeb-0f1d26-22303e-ecf7f9-52a0d4


$brand-light: #ECF7F9;
$brand-background: #0F1D26;
$brand-backplate: #22303E;
$brand-blue: #52A0D4;
$brand-light-blue: #43CFEB;