.pill-button{
    border-radius: 20px;
    height: 40px;
    border-style: none;
    
}

.signup-button{
    @extend .pill-button;
    background: rgb(63,94,251);
    background: radial-gradient(circle, $brand-purple 0%, $brand-highlight 100%);
    max-width: 150px;

    p{
        font-size: 1rem;
        font-weight: bolder;
        color: white;
    }
}

.base-button{
    @extend .pill-button;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    color: white;

    &-purple {
        @extend .base-button;
        background: radial-gradient(circle, $brand-purple 0%, $brand-highlight 100%);
    }

    &-orange {
        @extend .base-button;
        background: radial-gradient(circle, orange 0%, yellow 100%);
    }

    &-red {
        @extend .base-button;
        background: radial-gradient(circle, rgb(255, 0, 0) 0%, rgb(255, 60, 0) 100%);
    }
}
