.pill-button{
    border-radius: 20px;
    height: 40px;
    border-style: none;
    
}

.signup-button{
    @extend .pill-button;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100px;
}