$footer-height: 40px;

.footer{
    height: $footer-height;
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100%;
    background-color: $brand-backplate;
    margin-bottom: 0;

    a{
      color: $brand-light;
    }

    p{
      font-size: small;
    }

    .icons {
      max-width: 300px;

      a:hover{
        color: $brand-highlight;
        transition: all 0.2s;
      }
    }
}

@media (min-width: 768px) {
  .footer{
    .icons{
      max-width: 500px;
      font-size: 1.5rem;
    }
  }
}