::-webkit-calendar-picker-indicator{
  filter: invert(1)
}

.dark-form-input {
  height: max-content;
  label{
    color: white;
    margin: 0.5rem 0;
  }

  .close-form{
    color: $brand-highlight;
  }


  :is(input, select, textarea) {
    background-color: $brand-background;
    color: white;
    border-color: $brand-purple;
    border-width: 2px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6); 
      opacity: 1; 
    }

    &:focus {
      background-color: $brand-background;
      color: white;
      border-color: $brand-purple;
      outline: none; 
    }
  }

}

.glass-form {
  max-width: 650px;
  margin: auto;
  background: rgba(34, 35, 56, 0.486);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  padding: 3rem 1.5rem;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.308);

  div{
    margin-top: 1rem;
  }

  h1{
    margin-bottom: 2rem;
    text-align: center;

  }
}