::-webkit-calendar-picker-indicator{
  filter: invert(1)
}

.dark-form-input {
  label{
    color: white;
    margin: 0.5rem 0;

  }
  :is(input, select, textarea) {
    // background-color: #343a40; /* Bootstrap's dark background */
    background-color: $brand-background;
    color: white; /* White text */
    border-color: $brand-purple; /* Slightly lighter border */
    border-width: 2px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6); /* Lighten the placeholder text color */
      opacity: 1; /* Ensure full opacity */
    }

    &:focus {
      background-color: $brand-background;
      color: white;
      border-color: $brand-purple;
      outline: none; // Consider accessibility implications
    }
  }

  // div {
  //   margin: 0.5rem 0;
  // }
}
