$header-height: 70px;
// Active styling from

a.active {
  text-decoration: underline;
}

nav{
  height: $header-height;
  background-color: rgba(255, 255, 255, 0.1); /* Optional: Add a semi-transparent background color */
  backdrop-filter: blur(5px) brightness(1.2); /* Ensure blur is applied to the content behind the nav */
  border-bottom: 2px solid black 0.1;
  a {
    color: $brand-light;
    // font-weight: bolder;
  }

}
