$header-height: 70px;
// Active styling from


nav{
  // height: $header-height;
  background-color: $brand-backplate;
  border-bottom: 2px solid black 0.1;

  .navbar-button{
    margin-left: 0.5rem;
  }
  

  .navbar-nav, .navbar-brand{
    * {
      color: $brand-light;
      &:hover {
        color: $brand-highlight;
        transition: all 0.2s;
      }
      &.active{
        color: $brand-light !important;
        text-decoration: underline;
      }
    }
  }
  //For hamburger menu
  .toggle-icon{
    filter: invert(1);
  }

}


@media (max-width: 768px) {

  nav{
    .navbar-button{
      width: max-content;
      margin-left: 0px;
    }
  }
}