.dashboard{
    // position: relative;
    overflow-y: auto;
    height: 100%;
    // max-height: 600px;
  }



  .create-task{
    width: 80px;
    height: 80px;
    z-index: 10;
    border-radius: 100%;
    background-color: $brand-purple;
    color: $brand-light;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    right: 10px;
    bottom: 50px;
    box-shadow:  -3px 5px 10px black;
}

// Allows for seperate scrolling on our dashboard list.
.dashboard-list{
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border-radius: 16px;
    border: solid 4px $brand-highlight;
    
    .post-container {

        &.active {
          filter: brightness(1.1) contrast(1.1);
          margin: 0px -8px;
          border-left: white 6px solid;
        }

        &:first-child  {
          border-bottom: 1px solid $brand-med; /* Border for the first element */
        }

        &:not(:first-child):not(:last-child)  {
            border-top: 2px solid $brand-med; /* Border for middle elements */
            border-bottom: 2px solid $brand-med; /* Border for middle elements */
        }
    
        &:last-child  {
          border-top: 1px solid $brand-med; /* Border for the last element */
        }
    
        
    }
    .task-preview{
        // background-color: $brand-backplate;
        color: $brand-light;
        min-height: 100px;
        padding: 0.5rem 1rem;
        transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
        // border: solid 1px $brand-highlight;

        
        @mixin pulsateInset($color, $name) {
          @keyframes #{$name} {
            0%, 100% {
              box-shadow: inset 0 0 10px rgba($color, 0.3), 
                          inset 0 0 20px rgba($color, 0.2), 
                          inset 0 0 30px rgba($color, 0.15);
            }
            50% {
              box-shadow: inset 0 0 20px rgba($color, 0.4), 
                          inset 0 0 30px rgba($color, 0.3), 
                          inset 0 0 40px rgba($color, 0.25);
            }
          }
        }

        &.color-todo{
          // background-color: red($color: #000000);
        }

        &.color-wip{
          background-color: #ce00ca1f;
        }

        &.urgent {
          @include pulsateInset(rgb(255, 0, 0), pulsateUrgent);
          animation: pulsateUrgent 1.5s infinite ease-in-out;
          background: rgba(255, 0, 0, 0.205);
        }

        &.color-done{
          background-color: #e30fdf33;
          position: relative; /* Ensure the border glow is positioned correctly */
          @include pulsateInset(rgb(66,88,236), pulsateDone);
          animation: pulsateDone 1.5s infinite ease-in-out;          
        }

       

    
        .box{
            height: 100px;
            min-width: 50px;
            // background-color: red;
        }
    
        // Gem styling
        .gem.color-todo{
            filter: hue-rotate(60deg) saturate(0.1);
        }
    
        .gem.color-wip{
            filter: hue-rotate(135deg) brightness(1.2) contrast(1);
        }
    
        .gem.color-done{
          filter: hue-rotate(224deg) saturate(1.3) brightness(1.5) contrast(1.3)

        }
    
        .task-complete{
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}



.sliding-modal {
  position: fixed;
  bottom: -100%; /* Initially hidden */
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0 0;
  z-index: 100;
  padding: 2em;
  transition: bottom 0.3s ease-in-out; /* Sliding transition */
  max-height: 80vh;
  overflow-y: auto;

  // Visual style
  background: $brand-backplate;
  border-top: solid $brand-highlight 6px;
}

/* Visible state */
.sliding-modal.open {
  bottom: 0; /* Slide into view */

  // Glass form
  // z-index: 12;
  // background: rgba(34, 35, 56, 0.486);
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(10px);
  // padding: 3rem 1.5rem;
  // box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.308);
}

@media (min-width: 992px) {

  .sliding-modal {
    position: static;
  }

  .create-task{
    z-index: 101;
  }

  .dashboard {
    padding-top: 2rem;
  }

  .dashboard-list {
    // max-height: 272px; /* Full height on large screens */
  }

  .dashboard-detail {
    height: max-content;
    border-top: none;
  }

  .additional-info-buttons {
    // visibility: collapse;
  }
}