.dashboard{
    // position: relative;
    overflow: scroll;
    // max-height: 600px;
  }

  .create-task{
    width: 80px;
    height: 80px;
    z-index: 1000;
    border-radius: 100%;
    background-color: $brand-light-blue;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    right: 10px;
    bottom: 50px;
}

.task-preview{
    // background-color: $brand-backplate;
    color: $brand-light;

    .box{
        min-width: 20%;
        min-height: 100%;
        background-color: red;
    }

    .color-todo{
        background-color: red;
    }

    .color-wip{
        background-color: orange;
    }

    .color-done{
        background-color: lightgreen;
    }

    .task-complete{
        text-decoration: line-through;
        opacity: 0.5;
    }
}

// Allows for seperate scrolling on our dashboard list.
.dashboard-list{
    max-height: 250px;
    overflow: auto;
}
