.dashboard{
    // position: relative;
    overflow-y: auto;
    // max-height: 600px;
  }

  .create-task{
    width: 80px;
    height: 80px;
    z-index: 1000;
    border-radius: 100%;
    background-color: $brand-purple;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    right: 10px;
    bottom: 50px;
}



// Allows for seperate scrolling on our dashboard list.
.dashboard-list{
    max-height: 250px;
    overflow: auto;
    padding: 0;
    border-radius: 16px;
    border: solid 4px $brand-highlight;
    
    .post-container {
        &:first-child  {
          border-bottom: 1px solid $brand-med; /* Border for the first element */
        }

        &:not(:first-child):not(:last-child)  {
            border-top: 2px solid $brand-med; /* Border for middle elements */
            border-bottom: 2px solid $brand-med; /* Border for middle elements */
        }
    
        &:last-child  {
          border-top: 1px solid $brand-med; /* Border for the last element */
        }
    
        
    }
    .task-preview{
        background-color: $brand-backplate;
        color: $brand-light;
        min-height: 100px;
        padding: 0.5rem 1rem;
        // border: solid 1px $brand-highlight;
    
        .box{
            height: 100px;
            min-width: 50px;
            // background-color: red;
        }
    
        .color-todo{
            // background-color: red;
            filter: hue-rotate(60deg) saturate(0.3);
        }
    
        .color-wip{
            // background-color: orange;
            filter: hue-rotate(330deg) saturate(0.7) brightness(1.1) contrast(1);
        }
    
        .color-done{
          filter: hue-rotate(35deg) saturate(1.3) brightness(1.1) contrast(1.2)
            // background-color: green;
            // filter: hue-rotate(180deg); /* Blue hue */
        }
    
        .task-complete{
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}

@media (min-width: 992px) {
  .dashboard-list {
    max-height: 50%; /* Full height on large screens */
  }
}

.orb {

    border-radius: 50%; /* Make it a circle */
    // box-shadow: 
    //   inset 0 0 50px #ffffff, /* Inner white glow */
    //   inset 20px 0 60px rgba(255, 255, 255, 0.5), /* Inner light glow */
    //   inset -20px 0 60px rgba(255, 255, 255, 0.3), /* Inner lighter glow */
    //   inset 0 0 300px rgba(255, 255, 255, 0.2), /* Inner deep glow */
    //   inset -20px 0 300px rgba(255, 255, 255, 0.1), /* Inner deepest glow */
    //   0 5px #ffffff, /* Outer white shadow */
    //   -10px 0 60px rgba(255, 255, 255, 0.5), /* Outer shadow */
    //   10px 0 60px rgba(255, 255, 255, 0.3); /* Outer lighter shadow */
    
    // filter: brightness(0.8) contrast(1.5) saturate(2); /* Slightly darken the grayscale */
    // background: rgb(255,255,255);
    // background: linear-gradient(24deg, rgba(255,255,255,1) 39%, rgba(0,0,0,1) 100%);

    
  }

  .sphere{
    // height:200px;
    // width: 200px;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    font-size:500%;
    position:relative;
    
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.3),
                10px 10px 20px rgba(0, 0, 0, 0.4),
                inset 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display:inline-block;
    margin:5%;
      
  }
  
  .sphere::after{
   background-color: rgba(255, 255, 255, 0.3);
    content: '';
    height: 45%;
    width: 12%;
    position: absolute;
    top: 4%;
    left: 22%;
    border-radius: 50%;
    transform: rotate(70deg);
    
  }
  
